* {
    padding: 5px;
    margin: 0px;
}
body {
    background-color: rgb(6,193,103);
}
h1 {
	padding: 10px;
	color: #000000; font-size: 36px;
	font-family: 'Arial', Helvetica, sans-serif;
}

/* * {
	padding: 0px;
	margin: 0px;
}

main, nav {
	display: block;
}

main {
	background-color: grey;
	width: 100%;
	margin-top: 78px;
}

nav {
	background-color: #FF0075;
	width: 100%;
	position: fixed;
	top: 0px;
	min-width: 500px;
}

h1 {
	padding: 10px;
	color: #77D970; font-size: 36px;
	font-family: 'Rubik Mono One', monospace;
}

h2 {
	padding: 10px;
	color: #abf7b1; font-size: 30px;
	font-family: "Courier New", monospace;
}

p {
	padding: 10px;
	color: blue; font-size: 18px;
	font-family: monospace;
}

p:hover {
	font-weight: bold;
}

.superP {
	color: #b1f2ff; font-size: 20px
}

img {
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: solid;
	border-radius: 10px;
}

body {
	background-color: #444444
}

main ul, ol, dt, dl {
	margin-left:10px;
	padding: 10px;
	overflow: hidden;
	color: #abf7b1;
}

nav li {
	padding: 0px;
}

li, dd {
	padding: 10px;
	color: #b1f2ff;
}

table {
	width: 95%;
	margin: auto;
}

a.navlist {
	margin: 10px 10px;
	display: block;
	text-align: center;
	float: left;
	text-transform: uppercase;     
	padding: 10px;
	background-color: white;
	border-radius: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: yellow;
}

a:visted {
	color: black;
}

a:hover {
	color: white;
	text-decoration: underline;
	opacity: .5;
}



img:hover {
	width: 75%;
}

@media screen and (max-width: 550px) {
	img {
		display: none;
	}

	table img {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.scrolls {
		height: 300px;
		overflow: scroll;
	}
}

table, td, th {
	border: 2px solid black;
}

td {
	padding: 10px;
}

th {
	padding: 10px;
	text-align: center;
	background-color: mediumpurple;
	font-size: 1.5em;
}

tr:nth-child(even) {
	background-color: white;
}

caption {
	font-size: 2.5em;
	font-family: monospace;
	color: blue;
}

select, option, input, textarea {
	margin: 10px;
}

#navbar {
	color: purple;
	list-style-type: none;
	margin: 0px;
	padding: 10px
}

#button {
	margin: 10px 10px;
	display: block;
	text-align: center;
	text-decoration: blue wavy underline;
	float: left;
	text-transform: uppercase;     
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	color: red;
}

.stefan {
	border: none;
	position: fixed;
	bottom: 8px;
	right: 16px;
	width: 10%;
}

.stefan:hover {
	animation: rotation 2s infinite linear;
	width: 10%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}*/