* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(6,193,103);
}
h1 {
	padding: 10px;
	color: #000000; font-size: 48px;
    text-align: center;
    background-color: #8e8e8e;
	font-family: 'Times New Roman', Georgia, serif;
}

h2 {
	padding: 10px; text-align: center;
	color: #000000; font-size: 30px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

p {
    padding-left: 25%; padding-right: 25%;
    text-align: center;
    color:#000000; font-size: 36;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

ol {
    padding-left: 25%; padding-top: 10px;
    padding-bottom: 10px; padding-right: 25%;
	color: #000000; font-size: 24;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
    padding-left: 25%; padding-top: 10px;
    padding-bottom: 10px; padding-right: 25%;
	color: #000000; font-size: 24;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  padding:0px;
  margin:0px;
}

.title-subtext {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; font-size: 32px;
}

.nav {
  background: #000000;
  padding: 0.75rem 0;
  border-bottom: 1px solid #333;
}

.nav-container {
  width: min(1100px, 90%);
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 40px;        /* adjust size */
  width: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
  padding-bottom: 4px;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #1ad760;
  transition: width 0.25s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

@media (max-width: 700px) {
  .nav-links {
    gap: 1.2rem;
  }

  .nav-logo img {
    height: 100px;
  }
}

a:visited, a:hover, a:active, a:link, a:focus {
  color: #ffffff;
}

div {
    padding-top: 15px; padding-bottom: 15px;
}

button {
    display: block;
    margin: 12px auto;
    padding: 10px;
    font-size: 15px;
    background-color: #000000;
    color:white; font-weight: bold;
    border-radius: 50px;
    cursor:pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    text-decoration: none;
}

button:hover, button:visited {
    background-color: white;
    color: black;
    text-decoration: none;
}

button:hover a {
    color: black;
    text-decoration: none;
}

form {
    padding-left: 28%; padding-right: 40%;
}

footer {
    position: fixed;
  left: 0;
  bottom: 0;
   width: 100%;
}

body {
  padding-bottom: 120px;
}

a {
    text-decoration: none;
}