* {
    padding: 0px;
    margin: 0px;
}
body {
    background-color: rgb(6,193,103);
}
h1 {
	padding: 10px;
	color: #000000; font-size: 48px;
    text-align: center;
    background-color: #8e8e8e;
	font-family: 'Times New Roman', Georgia, serif;
}

h2 {
	padding: 10px; text-align: center;
	color: #000000; font-size: 30px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

p {
    padding-left: 25%; padding-right: 25%;
    text-align: center;
    color:#000000; font-size: 36;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

ol {
    padding-left: 25%; padding-top: 10px;
    padding-bottom: 10px; padding-right: 25%;
	color: #000000; font-size: 24;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
    padding-left: 25%; padding-top: 10px;
    padding-bottom: 10px; padding-right: 25%;
	color: #000000; font-size: 24;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  padding:0px;
  margin:0px;
}

.title-subtext {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; font-size: 32px;
}

.nav {
  background: #000000;
  padding: 0.75rem 0;
  border-bottom: 1px solid #333;
}

.nav-container {
  width: min(1100px, 90%);
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo img {
  height: 40px;        /* adjust size */
  width: auto;
  display: block;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.nav-links li a {
  color: #ddd;
  text-decoration: none;
  font-size: 0.95rem;
  position: relative;
  padding-bottom: 4px;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background: #1ad760;
  transition: width 0.25s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

@media (max-width: 700px) {
  .nav-links {
    gap: 1.2rem;
  }

  .nav-logo img {
    height: 100px;
  }
}

/*.container::after {
    content: '';
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background-color: rgba(0,0,0,0.5);
}

 * {
	padding: 0px;
	margin: 0px;
}

main, nav {
	display: block;
}

main {
	background-color: grey;
	width: 100%;
	margin-top: 78px;
}

nav {
	background-color: #FF0075;
	width: 100%;
	position: fixed;
	top: 0px;
	min-width: 500px;
}

h1 {
	padding: 10px;
	color: #77D970; font-size: 36px;
	font-family: 'Rubik Mono One', monospace;
}

p {
	padding: 10px;
	color: blue; font-size: 18px;
	font-family: monospace;
}

p:hover {
	font-weight: bold;
}

.superP {
	color: #b1f2ff; font-size: 20px
}

img {
	padding: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border: solid;
	border-radius: 10px;
}

body {
	background-color: #444444
}

main ul, ol, dt, dl {
	margin-left:10px;
	padding: 10px;
	overflow: hidden;
	color: #abf7b1;
}

nav li {
	padding: 0px;
}

li, dd {
	padding: 10px;
	color: #b1f2ff;
}

table {
	width: 95%;
	margin: auto;
}

a.navlist {
	margin: 10px 10px;
	display: block;
	text-align: center;
	float: left;
	text-transform: uppercase;     
	padding: 10px;
	background-color: white;
	border-radius: 20px;
}

a {
	text-decoration: none;
}

a:link {
	color: yellow;
}

a:visted {
	color: black;
}

a:hover {
	color: white;
	text-decoration: underline;
	opacity: .5;
}



img:hover {
	width: 75%;
}

@media screen and (max-width: 550px) {
	img {
		display: none;
	}

	table img {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	.scrolls {
		height: 300px;
		overflow: scroll;
	}
}

table, td, th {
	border: 2px solid black;
}

td {
	padding: 10px;
}

th {
	padding: 10px;
	text-align: center;
	background-color: mediumpurple;
	font-size: 1.5em;
}

tr:nth-child(even) {
	background-color: white;
}

caption {
	font-size: 2.5em;
	font-family: monospace;
	color: blue;
}

select, option, input, textarea {
	margin: 10px;
}

#navbar {
	color: purple;
	list-style-type: none;
	margin: 0px;
	padding: 10px
}

#button {
	margin: 10px 10px;
	display: block;
	text-align: center;
	text-decoration: blue wavy underline;
	float: left;
	text-transform: uppercase;     
	padding: 10px;
	background-color: white;
	border-radius: 20px;
	color: red;
}

.stefan {
	border: none;
	position: fixed;
	bottom: 8px;
	right: 16px;
	width: 10%;
}

.stefan:hover {
	animation: rotation 2s infinite linear;
	width: 10%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}*/